@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
hr{
    margin: 2rem 0rem;
}
:root{
   --primary-color:#F43F5E;
   --grey-color:#F4F4F5; 
}
.container{
    padding-left:1rem;
    padding-right:1rem;
}
.container-center{
    max-width: 600px;
    margin:auto;/** Centers the element **/
}

.link{
    text-decoration:none;
    padding:0.5rem 1rem;
    
}
.link-primary{
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    color:  white;
    background-color: var(--primary-color);
}
.section .link{
    margin-left: auto;
}
.link-secondary{
    color:var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color); 
}

/**lists**/
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding:0rem 0.5rem;
}

/**navigation**/
.navigation{
    background-color: var(--primary-color);
    color:white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-head{
    font-size: 1.2rem;
    font-weight: bold;
}
.navigation .link{
    color:white;
    
}
.navigation .list-right{
    text-align: right;
}

/**header**/
.hero{
    padding: 1rem;
}
.hero-img{
    padding-top: 1rem;
    max-width:350px;
    border-radius: 0.5rem; 
    border:3px solid var(--primary-color);
    margin:auto;
    display: block;
}
.hero-txt{
    text-align: center;

    padding-top: 1rem;

}
.heading-inverted{
    color:var(--primary-color);
}

/**section**/
.section h1{
    text-align: center;
}
.section{
    padding: 2rem;
    
    
}
.ow{
    background-color: var(--grey-color);
}

/**footer**/
footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
.footer .link{
    color: white;
}
.footer ul{
    padding-inline-start: 0px;
}
.footer-header{
    font-weight: bold;
    font-size: 1.1rem;
}
.link-active{
    font-weight: bold;
}
.margin-md{
    margin: 2rem;
}